<div class="cont-general-rg">
    <div class="cont-cabecera-rg">
        <img class="img-logo" src="../../../assets/imagenes-registro/Logo-DosArroyos.png" alt="Logo dos arroyos">
        <img class="img-text" src="../../../assets/imagenes-registro/Bienvenido.png" alt="mensaje de bienvenida">
    </div>
    <div class="cont-form-rg p-0 m-0">
        <h3 class="text-center text-cafe">Crea tu cuenta</h3>
        <p class="text-center text-verde">Ingresa tus datos a continuación</p>
        <form (ngSubmit)="guardar( f )" #f="ngForm" action="">
            <label for="" class="text-negro">Nombre:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" id="Nombre" required>
            <label for="" class="text-negro">Teléfono:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.phone" name="phone" id="Phone" required>
            <label for="" class="text-negro">Correo:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" id="Email" required>
            <label for="" class="text-negro">Contraseña:</label>
            <input type="password" class="form-control" [(ngModel)]="cliente.pass" name="pass" id="Pass" required>

            <input class="form-check-input mt-3" type="checkbox" value="" id="Terminos" required>
            <label class="form-check-label text-verde mt-3" for="Terminos">
                Acepto términos y condiciones
            </label>

            <div class="cont-btn">
                <button type="submit" class="btn btn-crear">Crear cuenta</button>
            </div>
        </form>
    </div>
</div>