<main class="container mt-5">

    <div class="d-flex justify-content-center">
        <form *ngIf="!this.cargando" [formGroup]="loginForm" (ngSubmit)="guardar()" class="col-6">
            <h3 class="text-center">Iniciar Sesión</h3>
            <div class="mb-3">
                <label for="correoForm" class="form-label">Correo</label>
                <input type="email" formControlName="correo" class="form-control" id="correoForm">
            </div>
            <div class="mb-3">
                <label for="contrasenaForm" class="form-label">Contraseña</label>
                <input type="password" formControlName="contrasena" class="form-control" id="contrasenaForm">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
    

</main>
