@media(max-width:768px){
    .col-6{
        width: 90%;
    }
}

@media(min-width:1200px){
    .container{
        width: 1000px !important;
    }
}

.fondo{
    /* margin: 0 auto; */
    background-image: url("../../../assets/tarjeta/recurso-19.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    min-height: 100vh;
    /* width: 120%; */
    /* min-height: 100%; */
}