@media(max-width:768px){
    .col-6{
        width: 90%;
    }
}

@media(min-width:1200px){
    .container{
        width: 1000px !important;
    }
}

.fondo{
    background-image: url("../../../assets/tarjeta/recurso-19.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}