<div class="fondo">
    <main class="container pt-4 pb-5">
        <div class="d-flex justify-content-center pb-3">
            <form *ngIf="cargando == false" [formGroup]="loginForm" (ngSubmit)="login()" class="col-6">
                <picture class="d-flex justify-content-center">
                    <img src="../../../assets/tarjeta/dos-arroyos.png" class="w-50" alt="">
                </picture>
                <picture>
                    <img src="../../../assets/tarjeta/bienvenido.png" class="w-100" alt="">
                </picture>
                <h2 class="texto-cafe text-center" style="color: rgb(129, 87, 64);">Inicia sesión</h2>
                <div class="mb-2">
                    <label for="correoForm" class="form-label texto-negro"><strong>Correo:</strong></label>
                    <input type="email" formControlName="correo" class="form-control" id="correoForm">
                    <span *ngIf="getErrores('correo')" class="form-text text-danger"> Ingrese un correo valido</span>
                </div>
                <div class="mb-2">
                    <label for="contrasenaForm" class="form-label texto-negro"><strong>Contraseña:</strong></label>
                    <input type="password" formControlName="contrasena" class="form-control" id="contrasenaForm">
                    <span *ngIf="getErrores('contrasena')" class="form-text text-danger"> La contraseña debe tener
                        mínimo 6 caracteres</span>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="" class="restablecer p-0 texto-negro" data-bs-toggle="modal" data-bs-target="#restablecerContrasena"
                    data-bs-whatever="@restablecerContrasena">¿Olvidaste tu contraseña?</a>
                    <button class="btn btn-dark" type="submit">Entrar</button>
                </div>

                <div class="text-center">
                    <a [routerLink]="['/registro']" class="btn form-text fs-3"><strong>O Registrate aquí</strong></a>
                </div>



                <!-- Restablecer contraseña -->

                <div class="modal fade" id="restablecerContrasena" tabindex="-1"
                    aria-labelledby="restablecerContrasenaLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="restablecerContrasenaModalLabel">Restablecer
                                    contraseña
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="restablecerContrasenaForm" (ngSubmit)="restablecerContrasena()">
                                    <div class="mb-3">
                                        <input type="email" class="form-control" id="restablecer-Contrasena"
                                            placeholder="Ingrese su correo" formControlName="restablecerContrasena"
                                            required>
                                        <span *ngIf="getErroresRestablecer('restablecerContrasena')" class="form-text text-danger"> Ingrese un correo valido</span>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="button" class="btn btn-primary"
                                    (click)="restablecerContrasena()">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>



            </form>
        </div>


    </main>
</div>